## Recommender System
<b>Recommender systems</b> are an important class of <b>machine learning </b>algorithms that offer "relevant" suggestions to users. Categorized as either collaborative filtering or a content-based system, check out how these approaches work along with implementations to follow from example code.

### Objective 
1. What is recommender Systems
2. Types of recommender Systems
3. Using basic recommender Systems from mlxtend for online retail data

### 1. Recommender System
* This System suggest user to buy, connect, sell watch.
* Lot of distribution channel makes money using it.

### 2. Types of recommender Systems
* Content Based Filtering - Recommendations are based on metadata collected from a user's histroy & interaction based on your previous watched movies, system will recommend you new movies. Used earlier days. Not much in production.
* Collaborative Filtering - Collecting Information from interactions from many other uses to derive suggestions for you. This is what is used in production
* Hybrid Filtering - Combining both content based filtering & collaborative filtering

In [1]:
import pandas as pd

In [8]:
articles_df = pd.read_csv('shared_articles.csv')

In [9]:
articles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3122 entries, 0 to 3121
Data columns (total 13 columns):
timestamp          3122 non-null int64
eventType          3122 non-null object
contentId          3122 non-null int64
authorPersonId     3122 non-null int64
authorSessionId    3122 non-null int64
authorUserAgent    680 non-null object
authorRegion       680 non-null object
authorCountry      680 non-null object
contentType        3122 non-null object
url                3122 non-null object
title              3122 non-null object
text               3122 non-null object
lang               3122 non-null object
dtypes: int64(4), object(9)
memory usage: 317.2+ KB

In [4]:
articles_df.head()

,timestamp,eventType,contentId,authorPersonId,authorSessionId,authorUserAgent,authorRegion,authorCountry,contentType,url,title,text,lang
0,1459192779,CONTENT REMOVED,-6451309518266745024,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
1,1459193988,CONTENT SHARED,-4110354420726924665,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
2,1459194146,CONTENT SHARED,-7292285110016212249,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://cointelegraph.com/news/bitcoin-future-w...,Bitcoin Future: When GBPcoin of Branson Wins O...,The alarm clock wakes me at 8:00 with stream o...,en
3,1459194474,CONTENT SHARED,-6151852268067518688,3891637997717104548,-1457532940883382585,NaN,NaN,NaN,HTML,https://cloudplatform.googleblog.com/2016/03/G...,Google Data Center 360° Tour,We're excited to share the Google Data Center ...,en
4,1459194497,CONTENT SHARED,2448026894306402386,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,https://bitcoinmagazine.com/articles/ibm-wants...,"IBM Wants to ""Evolve the Internet"" With Blockc...",The Aite Group projects the blockchain market ...,en

In [5]:
articles_df.eventType.value_counts()

CONTENT SHARED     3047
CONTENT REMOVED      75
Name: eventType, dtype: int64

In [6]:
# so now we select 'CONTENT SHARED' data
articles_df = articles_df[articles_df.eventType == 'CONTENT SHARED']

In [7]:
articles_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3047 entries, 1 to 3121
Data columns (total 13 columns):
timestamp          3047 non-null int64
eventType          3047 non-null object
contentId          3047 non-null int64
authorPersonId     3047 non-null int64
authorSessionId    3047 non-null int64
authorUserAgent    669 non-null object
authorRegion       669 non-null object
authorCountry      669 non-null object
contentType        3047 non-null object
url                3047 non-null object
title              3047 non-null object
text               3047 non-null object
lang               3047 non-null object
dtypes: int64(4), object(9)
memory usage: 333.3+ KB

In [11]:
articles_df.sample(10)

,timestamp,eventType,contentId,authorPersonId,authorSessionId,authorUserAgent,authorRegion,authorCountry,contentType,url,title,text,lang
2246,1472752143,CONTENT SHARED,4241385837165861843,-1479311724257856983,2228015062196318632,NaN,NaN,NaN,HTML,https://unionmetrics.zendesk.com/hc/en-us/arti...,Understanding the Twitter topic Tracker,"By default, an Twitter topic Tracker will show...",en
553,1461416764,CONTENT SHARED,-535029905294961110,-1032019229384696495,8050852261508857085,NaN,NaN,NaN,HTML,http://motherboard.vice.com/read/why-humans-do...,Why a Universal Language Will Never Be a Thing,One of the cooler experiences I've had happene...,en
2659,1477494625,CONTENT SHARED,-5637143900506554933,-1443636648652872475,-5650650301365919459,Android - Native Mobile App,SP,BR,HTML,https://www.wired.com/2016/10/ai-pioneer-yoshu...,AI Pioneer Yoshua Bengio Is Launching Element....,"Yoshua Bengio, one of the leading figures behi...",en
578,1461596645,CONTENT SHARED,-7613994611628693820,5660542693104786364,-7492116888809801796,NaN,NaN,NaN,HTML,http://www.valor.com.br/financas/4535213/cmn-r...,CMN regulamenta abertura de conta de depósito ...,O Conselho Monetário Nacional (CMN) aprovou re...,pt
2071,1471292229,CONTENT SHARED,6650072898902843826,3609194402293569455,-5783341880416637871,NaN,NaN,NaN,HTML,https://www.thinkwithgoogle.com/case-studies/a...,Amex Canada Discovers 68% More Mobile-Driven C...,What if you discovered one of your media chann...,en
2619,1477052144,CONTENT SHARED,1851975995406778464,-5527145562136413747,-4137383865691554748,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5...,RJ,BR,HTML,http://picnicbrasil.com/programacao,PICNIC,"Redesenhar o crescimento, repensar o lugar em ...",pt
1795,1468545174,CONTENT SHARED,-2211174111335280246,-1616903969205976623,6439430300980685505,NaN,NaN,NaN,HTML,http://www.mobiletime.com.br/28/06/2016/aeropo...,MOBILE TIME - Aeroporto do Galeão é o primeiro...,Aeroporto do Galeão é o primeiro da América La...,pt
2869,1481676932,CONTENT SHARED,8526042588044002101,-8020832670974472349,-265133471069694993,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,SP,BR,HTML,https://blog.heptio.com/cloud-native-part-1-de...,Cloud Native Part 1: Definition,As Craig and I start our journey toward buildi...,en
600,1461698179,CONTENT SHARED,6044362651232258738,6013226412048763966,4613953821207157764,NaN,NaN,NaN,HTML,http://vocesa.uol.com.br/noticias/acervo/cinco...,Cinco competências comportamentais para você s...,escritório | Crédito: pixabay Por que algumas ...,pt
1713,1468013559,CONTENT SHARED,-7627277742224639768,-5527145562136413747,994193917185601078,NaN,NaN,NaN,HTML,http://papodehomem.com.br/pequeno-guia-para-en...,Pequeno guia para entender as línguas de sinais,Foi quando passei algum tempo fora do Brasil (...,pt

In [12]:
interaction_df = pd.read_csv('users_interactions.csv')

In [13]:
interaction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72312 entries, 0 to 72311
Data columns (total 8 columns):
timestamp      72312 non-null int64
eventType      72312 non-null object
contentId      72312 non-null int64
personId       72312 non-null int64
sessionId      72312 non-null int64
userAgent      56918 non-null object
userRegion     56907 non-null object
userCountry    56918 non-null object
dtypes: int64(4), object(4)
memory usage: 4.4+ MB

In [14]:
interaction_df.eventType.unique()

array(['VIEW', 'FOLLOW', 'BOOKMARK', 'LIKE', 'COMMENT CREATED'],
      dtype=object)

In [15]:
event_type_strength = {
    'VIEW' : 1,
    'LIKE' : 2,
    'BOOKMARK' : 3,
    'FOLLOW' : 4,
    'COMMENT CREATED' : 5
}

In [16]:
interaction_df['event_type_strength'] = interaction_df.eventType.map(event_type_strength)

* Recommender System classic problem is cold-start issue. If you join a new platform, the platform don't really know what tp recommand
* Thus, we only want recommendation system to kick in after user has done some activity. So, we will consider user with more than 5 activity

In [20]:
user_interaction_count = interaction_df.groupby(['personId','contentId']).size().groupby('personId').size()

In [21]:
user_interaction_count

personId
-9223121837663643404    43
-9212075797126931087     5
-9207251133131336884     7
-9199575329909162940    11
-9196668942822132778     7
                        ..
 9165571805999894845     5
 9187866633451383747    17
 9191849144618614467    12
 9199170757466086545    14
 9210530975708218054    63
Length: 1895, dtype: int64

In [22]:
user_with_enough_interaction = user_interaction_count[user_interaction_count >= 5]

###  Understanding from the above commands
* user_interaction_count tells how much interactions each user is doig
* user_with_enough_interaction is users with more than 5 interactions
* We are doing this to avoid cold start problems

In [23]:
user_with_enough_interaction_df = pd.DataFrame(user_with_enough_interaction).reset_index()[['personId']]

In [25]:
user_with_enough_interaction_df

                 personId
0    -9223121837663643404
1    -9212075797126931087
2    -9207251133131336884
3    -9199575329909162940
4    -9196668942822132778
...                   ...
1135  9165571805999894845
1136  9187866633451383747
1137  9191849144618614467
1138  9199170757466086545
1139  9210530975708218054

[1140 rows x 1 columns]

In [24]:
interaction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72312 entries, 0 to 72311
Data columns (total 9 columns):
timestamp              72312 non-null int64
eventType              72312 non-null object
contentId              72312 non-null int64
personId               72312 non-null int64
sessionId              72312 non-null int64
userAgent              56918 non-null object
userRegion             56907 non-null object
userCountry            56918 non-null object
event_type_strength    72312 non-null int64
dtypes: int64(5), object(4)
memory usage: 5.0+ MB

In [27]:
interactions_from_chosen_users = interaction_df.merge(user_with_enough_interaction_df, how='right', left_on='personId', right_on='personId')

In [29]:
interactions_from_chosen_users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69868 entries, 0 to 69867
Data columns (total 9 columns):
timestamp              69868 non-null int64
eventType              69868 non-null object
contentId              69868 non-null int64
personId               69868 non-null int64
sessionId              69868 non-null int64
userAgent              54877 non-null object
userRegion             54867 non-null object
userCountry            54877 non-null object
event_type_strength    69868 non-null int64
dtypes: int64(5), object(4)
memory usage: 5.3+ MB

In [32]:
interaction_df.personId

0       -8845298781299428018
1       -1032019229384696495
2       -1130272294246983140
3         344280948527967603
4        -445337111692715325
                ...
72307   -9016528795238256703
72308     102305705598210278
72309   -9196668942822132778
72310   -9016528795238256703
72311    5713241217519616260
Name: personId, Length: 72312, dtype: int64

In [30]:
interactions_from_chosen_users.personId # as you can se column is now merge

0       -8845298781299428018
1       -8845298781299428018
2       -8845298781299428018
3       -8845298781299428018
4       -8845298781299428018
                ...
69863   -9063420486253202900
69864   -9063420486253202900
69865   -9063420486253202900
69866   -9063420486253202900
69867   -9063420486253202900
Name: personId, Length: 69868, dtype: int64

In [36]:
interaction_full_df = pd.DataFrame(interactions_from_chosen_users.groupby(['personId','contentId'])['event_type_strength'].sum().reset_index())

In [37]:
interaction_full_df

                  personId            contentId  event_type_strength
0     -9223121837663643404 -8949113594875411859                    1
1     -9223121837663643404 -8377626164558006982                    1
2     -9223121837663643404 -8208801367848627943                    1
3     -9223121837663643404 -8187220755213888616                    1
4     -9223121837663643404 -7423191370472335463                    8
...                    ...                  ...                  ...
39101  9210530975708218054  8477804012624580461                   10
39102  9210530975708218054  8526042588044002101                    1
39103  9210530975708218054  8856169137131817223                    1
39104  9210530975708218054  8869347744613364434                    1
39105  9210530975708218054  9209886322932807692                    1

[39106 rows x 3 columns]

In [38]:
df = interaction_full_df[interaction_full_df.personId == -9223121837663643404]

In [40]:
df.head()

              personId            contentId  event_type_strength
0 -9223121837663643404 -8949113594875411859                    1
1 -9223121837663643404 -8377626164558006982                    1
2 -9223121837663643404 -8208801367848627943                    1
3 -9223121837663643404 -8187220755213888616                    1
4 -9223121837663643404 -7423191370472335463                    8

In [41]:
df.sort_values(by='event_type_strength',ascending=False)[:5]

               personId            contentId  event_type_strength
4  -9223121837663643404 -7423191370472335463                    8
40 -9223121837663643404  8302949268716967655                    4
22 -9223121837663643404  -447851796385928420                    3
21 -9223121837663643404  -559964548932224920                    2
10 -9223121837663643404 -6545872007932025533                    2

In [42]:
### Based on this data we wil do content based filtering

In [43]:
# We will use cosine similarity here
class ContentBasesdRecommenderSystem:
    pass

In [44]:
class CollaborativeRecommenderSystem:
    pass