In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv("Downloads/SpaData.csv",header=0, index_col=0)

In [3]:
data.head(10)

,TimeStamp,Temperature,RelativeHumidity,Light,OxygenLevels,HumidityRatio,GTOccupancy
ID,,,,,,,
2342,06-02-15 8:51,20.840,19.745000,433.0,629.75,0.003000,1
6419,09-02-15 4:49,19.290,26.890000,0.0,466.00,0.003716,0
3330,07-02-15 1:20,20.000,18.700000,0.0,435.50,0.002696,0
7188,09-02-15 17:38,22.200,38.433333,429.5,1943.50,0.006381,1
7655,10-02-15 1:25,20.245,32.900000,0.0,469.00,0.004833,0
371,05-02-15 0:01,21.245,25.245000,0.0,458.50,0.003938,0
4298,07-02-15 17:28,20.500,21.245000,0.0,439.50,0.003162,0
7261,09-02-15 18:51,21.290,36.450000,0.0,1381.50,0.005718,0
4486,07-02-15 20:36,20.000,25.700000,0.0,439.50,0.003712,0
3715,07-02-15 7:45,19.700,19.390000,0.0,445.00,0.002744,0

In [4]:
data= data.drop(columns=['TimeStamp'])

In [5]:
data['GTOccupancy'].value_counts()

0    5125
1    1389
Name: GTOccupancy, dtype: int64

In [6]:
data.shape

(6514, 6)

In [7]:
values = data.values
X, y = values[:, :-1], values[:, -1]

In [8]:
X

array([[2.08400000e+01, 1.97450000e+01, 4.33000000e+02, 6.29750000e+02,
        2.99997400e-03],
       [1.92900000e+01, 2.68900000e+01, 0.00000000e+00, 4.66000000e+02,
        3.71595800e-03],
       [2.00000000e+01, 1.87000000e+01, 0.00000000e+00, 4.35500000e+02,
        2.69628800e-03],
       ...,
       [1.96000000e+01, 2.86000000e+01, 0.00000000e+00, 4.35000000e+02,
        4.03125500e-03],
       [1.97600000e+01, 1.92300000e+01, 0.00000000e+00, 4.50333333e+02,
        2.73190900e-03],
       [2.02000000e+01, 3.30600000e+01, 0.00000000e+00, 4.43333333e+02,
        4.84276600e-03]])

In [9]:
X_train, X_test, y_train, y_test = train_test_split(
             X, y, test_size = 0.2, random_state=42)

In [10]:
knn = KNeighborsClassifier(n_neighbors=90)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=90)

In [11]:
v = knn.predict(X_test)

In [12]:
y_train.shape

(5211,)

In [13]:
v.shape

(1303,)

In [14]:
test = pd.DataFrame(X_test)
test['occ'] = v.astype(int)

In [15]:
acc = accuracy_score(test['occ'],y_test)

In [16]:
acc

0.9815809669992326

In [17]:
test['occ'].value_counts()

0    1027
1     276
Name: occ, dtype: int64

In [18]:
data['GTOccupancy'].value_counts()

0    5125
1    1389
Name: GTOccupancy, dtype: int64

In [19]:
test

              0          1           2            3         4  occ
0     20.890000  18.840000  212.000000   460.000000  0.002871    0
1     21.200000  19.963333    0.000000   522.000000  0.003102    0
2     22.100000  37.933333  428.333333  1830.000000  0.006258    1
3     22.390000  26.790000  456.000000  1074.000000  0.004486    1
4     20.963333  18.790000  204.333333   460.333333  0.002876    0
...         ...        ...         ...          ...       ...  ...
1298  19.340000  26.790000    0.000000   471.000000  0.003714    0
1299  21.000000  23.823333    0.000000   444.666667  0.003659    0
1300  20.000000  18.700000    0.000000   438.000000  0.002696    0
1301  20.290000  33.090000    0.000000   456.000000  0.004874    0
1302  22.175000  38.972500  328.000000  1986.500000  0.006461    1

[1303 rows x 6 columns]